<!DOCTYPE html>
<html>
  <head>
    <title>Your Web Page</title>
    <link rel="stylesheet" href="../public/verify.css"" />
  </head>
  <body>
    <!-- Your HTML content here -->
    <main>
      <div class="logo">
        <img src="../public/try.jpg" alt="Skincare AI Logo" />
      </div>
      <div class="server-message">
        <p>The server is active 🤠</p>
      </div>
      <div class="link-button">
        <a href="https://www.facebook.com/profile.php?id=61551444252210">
          TRY OUT BOT</a
        >
      </div>
    </main>
  </body>
</html>
